
<div class="login-wrapper">
  <div class="login-container center-960">
    <h1 class="text-center">Checkout</h1>
    <div class="checkout-options">
      <div class="left">
        <h2>Login</h2>
        <lo-cal-login-form></lo-cal-login-form>
      </div>
      <div class="right">
        <div class="guest-link">
          <form action="" class="lo-cal-form" [formGroup]="guestForm" (submit)="checkoutAsGuest(guestForm)">
            <div class="form-component form-component-text">
              <label for="first-name" class="visuallyhidden">First Name</label>
              <input type="text" name="first-name" id="first-name" placeholder="First Name" formControlName="first-name" [ngClass]="{'has-error':!guestForm.controls['first-name'].valid && submittedOnce}">
              <div class="error-message" *ngIf="!guestForm.controls['first-name'].valid && submittedOnce">This field is required.</div>
            </div>
            <div class="form-component form-component-text">
              <label for="last-name" class="visuallyhidden">Last Name</label>
              <input type="text" name="last-name" id="last-name" placeholder="Last Name" formControlName="last-name" [ngClass]="{'has-error':!guestForm.controls['last-name'].valid && submittedOnce}">
              <div class="error-message" *ngIf="!guestForm.controls['last-name'].valid && submittedOnce">This field is required.</div>
            </div>
            <div class="form-component form-component-text">
              <label for="email-address" class="visuallyhidden">Email</label>
              <input type="text" name="email-address" id="email-address" placeholder="Email" formControlName="email-address" [ngClass]="{'has-error':!guestForm.controls['email-address'].valid && submittedOnce}">
              <div class="error-message" *ngIf="!guestForm.controls['email-address'].valid && submittedOnce">This field is required.</div>
            </div>
            <div class="form-component form-component-text">
              <label for="phone" class="visuallyhidden">Phone</label>
              <input type="text" name="phone" id="phone" formControlName="phone" placeholder="Phone* " [ngClass]="{'has-error':!guestForm.controls['phone'].valid && submittedOnce}">
              <div class="error-message" *ngIf="!guestForm.controls['phone'].valid && submittedOnce">This field is required.</div>
              <div class="error-message" *ngIf="guestForm.controls['phone'].errors?.pattern">Phone number should be 9 digits with no spaces or hyphens.</div>
            </div>
            <div class="submit red-button full-width-button">
              <input type="submit" value="Checkout as Guest" [disabled]="!guestForm.valid">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>