<div class="basic-page-container checkout-review">
  <div class="basic-page-content center">
    <h1>Complete Your Order</h1>

    <div class="checkout-wrapper">
      <div class="left-pane">
        <div class="step">
          <div class="inner-step-wrapper">
            <div class="step-heading" (click)="editSection(1)">1. Pickup</div>
            <div class="step-wrapper" [hidden]="sectionOpen !== 1">
              <form action="" class="lo-cal-form" [formGroup]="pickupForm">
                <div class="response">
                  <fieldset>
                    <legend>How would you like to pickup your order?</legend>
                    <div class="radio-options flex-between">
                      <div class="option">
                        <label for="in-store">
                          <input type="radio" name="pickup-selection" id="in-store" value="1" formControlName="pickup-selection">
                          <span class="semi-bold">In Store Pick Up</span>
                        </label>
                      </div>
                      <div class="option">
                        <label for="curbside">
                          <input type="radio" name="pickup-selection" id="curbside" value="4" formControlName="pickup-selection">
                          <span class="semi-bold">Curbside Pickup</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <div class="car-options" *ngIf="pickupForm.controls['pickup-selection'].value === '4'">
                    <div class="form-section half-and-half">
                      <div class="form-component form-component-text">
                        <label for="vehicle-make" class="visuallyhidden">Vehicle Make</label>
                        <input type="text" name="vehicle-make" id="vehicle-make" formControlName="vehicle-make" placeholder="Vehicle Make*">
                      </div>
                      <div class="form-component form-component-text">
                        <label for="vehicle-model" class="visuallyhidden">Vehicle Model</label>
                        <input type="text" name="vehicle-model" id="vehicle-model" formControlName="vehicle-model" placeholder="Vehicle Model*">
                      </div>
                    </div>
                    <div class="form-section half-and-half">
                      <div class="form-component form-component-text">
                        <label for="vehicle-color" class="visuallyhidden">Vehicle Color</label>
                        <input type="text" name="vehicle-color" id="vehicle-color" formControlName="vehicle-color" placeholder="Vehicle Color*">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="next-step black-button">
                  <button [disabled]="!pickupForm.valid"(click)="nextStep()">Next Step</button>
                </div>
              </form>
            </div>
          </div><!-- /. inner-step-wrapper -->
        </div><!-- /.step -->
        <div class="step">
          <div class="inner-step-wrapper">
            <div class="step-heading" (click)="editSection(2)">2. Contact Information</div>
            <div class="step-wrapper" [hidden]="sectionOpen !== 2">
              <form action="" class="lo-cal-form" [formGroup]="contactInfoForm">
                <div class="form-section half-and-half">
                  <div class="form-component form-component-text">
                    <label for="first-name" class="visuallyhidden">First Name</label>
                    <input type="text" name="first-name" id="first-name" formControlName="first-name" placeholder="First Name*" [ngClass]="{'has-error':!contactInfoForm.controls['first-name'].valid && submittedOnce}">
                    <div class="error-message" *ngIf="!contactInfoForm.controls['first-name'].valid && submittedOnce">This field is required.</div>
                  </div>
                  <div class="form-component form-component-text">
                    <label for="last-name" class="visuallyhidden">Last Name</label>
                    <input type="text" name="last-name" id="last-name" formControlName="last-name" placeholder="Last Name*" [ngClass]="{'has-error':!contactInfoForm.controls['last-name'].valid && submittedOnce}">
                    <div class="error-message" *ngIf="!contactInfoForm.controls['last-name'].valid && submittedOnce">This field is required.</div>
                  </div>
                </div>
                <div class="form-section half-and-half">
                  <div class="form-component form-component-text">
                    <label for="phone" class="visuallyhidden">Phone</label>
                    <input type="text" name="phone" id="phone" formControlName="phone" placeholder="Phone" [ngClass]="{'has-error':!contactInfoForm.controls['phone'].valid && submittedOnce}">
                    <div class="error-message" *ngIf="!contactInfoForm.controls['phone'].valid && submittedOnce">This field is required.</div>
                  </div>
                  <div class="form-component form-component-email">
                    <label for="email" class="visuallyhidden">Email</label>
                    <input type="text" name="email" id="email" formControlName="email" placeholder="Email*" [ngClass]="{'has-error':!contactInfoForm.controls['email'].valid && submittedOnce}">
                    <div class="error-message" *ngIf="!contactInfoForm.controls['email'].valid && submittedOnce">This field is required.</div>
                  </div>
                </div>
                <div class="next-step black-button">
                  <button [disabled]="!contactInfoForm.valid"(click)="nextStep()">Next Step</button>
                </div>
              </form>
            </div>
          </div><!-- /. inner-step-wrapper -->
        </div><!-- /.step -->
        <div class="step">
          <div class="inner-step-wrapper">
            <div class="step-heading" (click)="editSection(3)">3. Payment</div>
            <div class="step-wrapper" [hidden]="sectionOpen !== 3">
              <form action="" class="lo-cal-form" [formGroup]="paymentForm">
                <div class="radio-options flex-between">
                  <div class="option">
                    <label for="cc">
                      <input type="radio" name="payment-choice" id="cc" value="1" formControlName="payment-choice"  [(ngModel)]="paymentChoice">
                      <span class="semi-bold">Pay now with a credit card</span>
                    </label>
                  </div>
                  <div class="option">
                    <label for="pay-at-store">
                      <input type="radio" name="payment-choice" id="pay-at-store" value="2" formControlName="payment-choice" [(ngModel)]="paymentChoice">
                      <span class="semi-bold">Pay at the store</span>
                    </label>
                  </div>
                </div>
                <div class="new-card-section" *ngIf="paymentForm.controls['payment-choice'].value === '1'">
                  <div class="form-section half-and-half">
                    <div class="form-component form-component-text">
                      <label for="card-number" class="visuallyhidden">Credit Card Number</label>
                      <input type="text" name="card-number" id="card-number" formControlName="card-number" placeholder="Credit Card Number*" [ngClass]="{'has-error':!paymentForm.controls['card-number'].valid && submittedOnce}" #ccNumber ([ngModel])="cardType" (ngModelChange)="detectCardType(ccNumber.value)">
                      <div class="card-sprite-wrapper">
                        <div class="card visa" [ngClass]="activeCardClass === 'visa' ? 'active' : ''" title="Visa"></div>
                        <div class="card master-card" [ngClass]="activeCardClass === 'master-card' ? 'active' : ''" title="MasterCard"></div>
                        <div class="card american-express" [ngClass]="activeCardClass === 'american-express' ? 'active' : ''" title="American Express"></div>
                        <div class="card discover" [ngClass]="activeCardClass === 'discover' ? 'active' : ''" title="Discover"></div>
                        <div class="card diners-club" [ngClass]="activeCardClass === 'diners-club' ? 'active' : ''" title="Diners Club"></div>
                      </div>
                      <div class="error-message" *ngIf="!paymentForm.controls['card-number'].valid && submittedOnce">This field is required.</div>
                    </div>
                    <div class="form-component form-component-text">
                      <label for="last-name" class="visuallyhidden">Expiration Date</label>
                      <input type="text" name="expiration-date" id="expiration-date" formControlName="expiration-date" placeholder="Expiration Date (mm/yyyy)*" [ngClass]="{'has-error':!paymentForm.controls['expiration-date'].valid && submittedOnce}" loCalMonthMask>
                      <div class="error-message" *ngIf="!paymentForm.controls['expiration-date'].valid && submittedOnce">This field is required.</div>
                    </div>
                  </div>
                  <div class="form-section half-and-half">
                    <div class="form-component form-component-text">
                      <label for="phone" class="visuallyhidden">Name On Card</label>
                      <input type="text" name="name-on-card" id="name-on-card" formControlName="name-on-card" placeholder="Name on card*" [ngClass]="{'has-error':!paymentForm.controls['name-on-card'].valid && submittedOnce}">
                      <div class="error-message" *ngIf="!paymentForm.controls['name-on-card'].valid && submittedOnce">This field is required.</div>
                    </div>
                    <div class="form-component form-component-email">
                      <label for="email" class="visuallyhidden">CVV</label>
                      <input type="text" name="cvv" id="cvv" formControlName="cvv" placeholder="CVV*" [ngClass]="{'has-error':!paymentForm.controls['cvv'].valid && submittedOnce}">
                      <div class="error-message" *ngIf="!paymentForm.controls['cvv'].valid && submittedOnce">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="next-step black-button step-4-button">
                  <button [disabled]="(!paymentForm.valid && paymentChoice !== '2')"(click)="nextStep()">Next Step</button>
                </div>
              </form>
            </div>
          </div><!-- /. inner-step-wrapper -->
        </div><!-- /.step -->
        <div class="step step-4">
          <div class="inner-step-wrapper">
            <div class="step-heading">4. Place Your Order</div>
            <div class="step-wrapper">
              <p class="question semi-bold">Your total: {{ currentOrder?.TotalAmount | currency }}</p>
            </div>
            <div class="red-button small-text" [ngClass]="processing ? 'loading' : ''">
              <button [disabled]="!pickupForm.valid && !paymentForm.valid && !contactInfoForm.valid" (click)="submitOrder()">Place Order Now</button>
            </div>
            <p class="terms-and-conditions small-text">
              By placing your order you agree to our Terms of Conditions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula ac orci sed venenatis. Phasellus venenatis blandit nulla non pretium. Sed id metus non nisi pulvinar dictum.
            </p>
          </div><!-- /. inner-step-wrapper -->
        </div><!-- /.step -->
      </div><!-- /.left-pane -->
      <div class="order-summary">
        <div class="itemized-summary">
          <h4>Order Summary</h4>
          <div class="item flex-between" *ngFor="let menuItem of orderForDisplay">
            <div class="item-specifics">
              <div class="title semi-bold"><span class="quantity">{{ menuItem?.quantity }} x</span> <span class="item-name">{{ menuItem?.name }}</span></div>
              <div class="additions" *ngIf="menuItem?.modifiers">
                <span class="modifier" *ngFor="let mod of menuItem?.modifiers">{{ mod?.name }}</span>
              </div>
            </div>
            <div class="item-price">
              <span class="price">{{ menuItem?.fullPrice | currency }}</span>
            </div>
          </div>
        </div><!-- /.itemized-summary -->
        <div class="pricing-and-location">
          <div class="pricing-details">
            <div class="flex-between subtotal">
              <span class="label">Subtotal</span>
              <span class="value">{{ currentOrder?.SubTotalAmount | currency }}</span>
            </div>
            <div class="flex-between">
              <span class="label">Tax</span>
              <span class="value">{{ currentOrder?.TaxAmount | currency }}</span>
            </div>
            <div class="flex-between total">
              <span class="label semi-bold">Total</span>
              <span class="value semi-bold">{{ currentOrder?.TotalAmount | currency }}</span>
            </div>

            <div class="red-button full-width-button small-text" [ngClass]="processing ? 'loading' : ''">
              <!-- <button [disabled]="!pickupForm.valid && !paymentForm.valid && !contactInfoForm.valid" (click)="submitOrder()">Place Order Now</button> -->
              <button (click)="submitOrder()">Place Order Now</button>
            </div>
            <p class="go-back text-center">
              <a href="">or go back to edit your order</a>
            </p>
          </div>
          <div class="location-details">
            <p class="semi-bold">You are ordering from</p>
            <h4>Lo·Cal Long Island</h4>
            <p>
              The Mall at The Source<br/>
              1504 Old Country Rd, Westbury, NY 11590
            </p>
            <div class="map-image">
              <img src="" alt="">
            </div>
            <p class="bold">
              Tel: 987-012-2345
            </p>
          </div>
        </div><!-- /.pricing-and-location -->

      </div><!-- /.order-summary -->
    </div>

  </div><!-- /.basic-page-content -->
</div><!-- /.checkout-review -->