// Colors
$black: #000;
$off-black: #1e1e1e;
$white: #fff;
$devils-grey: #666;
$e1: #e1e1e1;
$grey58: #585858;
$orange-red: #ff0f1b;
$red-hover: #ff5860;
$light-grey: #f4f4f4;
$c-4a: #4a4a4a;
$c-31: #313131;
$fa: #fafafa;
$c : #ccc;
$d : #ddd;

// Base Font Size
$base-font-size: 16;

// Function to convert pixels to ems
@function px-to-em($px, $denominator: $base-font-size) {
  @return $px / $denominator * 1em;
}

// Breakpoints
$bp-360: 360px;
$bp-460: 460px;
$bp-495: 495px;
$bp-500: 500px;
$bp-575: 575px;
$bp-600: 600px;
$bp-660: 660px;
$bp-680: 680px;
$bp-768: 768px;
$bp-860: 860px;
$bp-900: 900px;
$bp-940: 940px;
$bp-980: 980px;
$bp-1130: 1130px;

// The max-width of the stage on full desktop in pixels (see mixin stagecenter)
$max-stage-width: 1140;
$content-width: 1140;

$no-query: '.no-mediaqueries';

$small-gap: 1em;