<div class="basic-page-container checkout-review">
  <div class="basic-page-content center">
    <h1>Review Your Order</h1>
    <div class="form-errors text-left" *ngIf="errorData?.error"><p>{{ errorData?.error }}</p></div>
    <div class="form-errors text-left" *ngIf="bagItems.length === 0"><p>There is currently nothing in your bag. Please return to <a routerLink="/menu">our menu</a>.</p></div>
    <div class="checkout-wrapper" *ngIf="bagItems.length > 0">
      <div class="left-pane">
        <h4>How would you like to pickup your order?</h4>
        <div class="required-message review-errors" *ngIf="submitAttempted && !pickupForm.valid">
          <p>Please select a pickup method.</p>
        </div>
        <div class="inner-step-wrapper">
          <form action="" class="lo-cal-form" [formGroup]="pickupForm">
            <div class="radio-options flex-between">
              <div class="option">
                <label for="in-store">
                  <input type="radio" name="pickup-selection" id="in-store" value="1" formControlName="pickup-selection">
                  <span class="semi-bold">In Store Pick Up</span>
                </label>
              </div>
              <div class="option">
                <label for="curbside">
                  <input type="radio" name="pickup-selection" id="curbside" value="4" formControlName="pickup-selection">
                  <span class="semi-bold">Curbside Pickup</span>
                </label>
              </div>
            </div>
            <div class="car-options" *ngIf="pickupForm.controls['pickup-selection'].value === '4'">
              <div class="form-section half-and-half">
                <div class="form-component form-component-text">
                  <label for="vehicle-make" class="visuallyhidden">Vehicle Make</label>
                  <input type="text" name="vehicle-make" id="vehicle-make" formControlName="vehicle-make" placeholder="Vehicle Make*">
                </div>
                <div class="form-component form-component-text">
                  <label for="vehicle-model" class="visuallyhidden">Vehicle Model</label>
                  <input type="text" name="vehicle-model" id="vehicle-model" formControlName="vehicle-model" placeholder="Vehicle Model*">
                </div>
              </div>
              <div class="form-section half-and-half">
                <div class="form-component form-component-text">
                  <label for="vehicle-color" class="visuallyhidden">Vehicle Color</label>
                  <input type="text" name="vehicle-color" id="vehicle-color" formControlName="vehicle-color" placeholder="Vehicle Color*">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="time-selector" *ngIf="times">
          <h4>Choose your Pickup Time</h4>
          <div class="required-message review-errors" *ngIf="submitAttempted && !selectedTime">
            <p>Please select a pickup time.</p>
          </div>
          <div class="required-message review-errors" *ngIf="timeElapsedError">
            <p>This pickup time is no longer valid. Please select a new time that is more than 25 minutes from now.</p>
          </div>
          <div class="times-wrapper">
            <button class="time" *ngFor="let time of times" tabindex="0" (click)="selectTime(time?.Time)" [ngClass]="selectedTime === time?.Time ? 'selected' : ''" [disabled]='!ensureEnoughTime(time?.Time)'>{{ time?.Time | date:"h:mma" }}</button>
          </div>
          <!-- ADD Location to show next-available time before submission -->
          <div class="next-available-time" *ngIf="selectedTime && !timeElapsedError">
            <p><strong>Pickup on: </strong>{{ selectedTime | date:"E MMM d, h:mma" }}</p>
          </div>
        </div>

        <div class="items">
          <div class="review-item-card">
            <div class="item clearfix" *ngFor="let menuItem of bagItems; let i = index;">
              <div class="item-review-wrapper">
                <div class="left image">
                  <img [src]="menuItem?.cartImage" alt="" class="item-image">
                  <img src="/wp-content/themes/local/dist/assets/svgs/delete-cross-icon.svg" alt="X to remove item from cart" class="remove-image" (click)="removeFromBagAtIndex(i)">
                </div>
                <div class="bag-detail-card">
                  <div class="title-container">
                    <div class="title">{{ menuItem?.Name }} <span class="quantity">x {{ menuItem?.Quantity }}</span></div>
                  </div>
                  <div class="ingredients" *ngIf="menuItem?.ShortDescription !== undefined">
                    {{ (menuItem?.ShortDescription | allergens)?.description }}
                  </div>
                  <div class="additions" *ngIf="menuItem?.Modifiers">
                    <span class="modifier" *ngFor="let mod of menuItem?.Modifiers; let last = last;">{{ mod?.Name }}<span class="separator" *ngIf="!last">,</span></span>
                  </div>
                  <div class="details-and-edit">
                    <div class="details">
                      <span class="price">{{ menuItem?.ExtendedPrice | currency }}</span>
                      <span class="calories" *ngIf="menuItem?.caloricValue">{{ menuItem?.caloricValue }} cal</span>
                      <span class="allergens" *ngIf="(menuItem?.ShortDescription.indexOf('[') > -1)">
                        <span class="allergen" *ngFor="let allergen of (menuItem?.ShortDescription | allergens).allergens">{{ allergen }}</span>
                      </span>
                    </div>
                    <div class="edit">
                      <a tabindex="0" (click)="editItemAtIndex(i)" (keyup.enter)="editItemAtIndex(i)" role="button">EDIT</a>
                    </div>
                  </div><!-- /. details-and-edit -->
                </div><!-- /.bag-detail-card -->
              </div><!-- /.item-review-wrapper -->
              <div class="edit-pane" [hidden]="isOpen !== i">
                <div class="edit-pane-wrapper">
                  <div class="quantity-selector">
                    <div class="quantity-changer">
                      <span class="quantity-text">Quantity</span>
                      <button class="minus" (click)="decrementQuantity(menuItem)">-</button>
                      <span class="quantity">{{ menuItem?.Quantity }}</span>
                      <button class="plus" (click)="incrementQuantity(menuItem)">+</button>
                    </div>
                  </div>
                  <div class="customize-this">
                    <p><a (click)="customizeReturn(menuItem, i)" routerLink="/">Go back to customize this item</a></p>
                  </div>
                </div>
              </div><!-- /.edit-pane -->
            </div><!-- /.item -->
            <div class="red-button small-text">
              <div class="loading-gif button-size" *ngIf="processing"></div>
              <button (click)="putOrder()" [ngClass]="{'disabled' : (!selectedTime || !pickupForm.valid)}" *ngIf="!processing">Proceed to Checkout</button>
            </div>
          </div><!-- /.review-item-card -->
        </div>
      </div>

      <div class="order-summary">
        <div class="itemized-summary">
          <h4>Order Summary</h4>
          <div class="item flex-between" *ngFor="let menuItem of bagItems">
            <div class="item-specifics">
              <div class="title semi-bold"><span class="quantity">{{ menuItem?.Quantity }} x</span> <span class="item-name">{{ menuItem?.Name }}</span></div>
              <div class="additions" *ngIf="menuItem?.Modifiers">
                <span class="modifier" *ngFor="let mod of menuItem?.Modifiers; let last = last;">{{ mod?.Name }}<span class="separator" *ngIf="!last">,</span></span>
              </div>
            </div>
            <div class="item-price">
              <span class="price">{{ menuItem?.ExtendedPrice | currency }}</span>
            </div>
          </div>
          <div class="item flex-between" *ngFor="let menuItem of allOrderDetails?.LineItems">
            <div class="item-specifics">
              <div class="title semi-bold"><span class="quantity">{{ menuItem?.Quantity }} x</span> <span class="item-name">{{ menuItem?.Name }}</span></div>
              <div class="additions" *ngIf="menuItem?.Modifiers">
                <span class="modifier" *ngFor="let mod of menuItem?.Modifiers; let last = last;">{{ mod?.Name }}<span class="separator" *ngIf="!last">,</span></span>
              </div>
            </div>
            <div class="item-price">
              <span class="price">{{ menuItem?.ExtendedPrice | currency }}</span>
            </div>
          </div>
          <div class="flex-between subtotal">
            <span class="label">Subtotal</span>
            <span class="value">{{ totalBagPrice | currency }}</span>
          </div>
        </div><!-- /.itemized-summary -->
        <div class="pricing-and-location">
          <div class="pricing-details">

            <div class="red-button full-width-button small-text">
              <div class="loading-gif button-size" *ngIf="processing"></div>
              <button (click)="putOrder()" [ngClass]="{'disabled' : (!selectedTime || !pickupForm.valid)}" *ngIf="!processing">Proceed to Checkout</button>
              <div class="required-message" *ngIf="submitAttempted && !pickupForm.valid">
                <p>Please select a pickup method.</p>
              </div>
              <div class="required-message" *ngIf="submitAttempted && !selectedTime">
                <p>Please select a pickup time.</p>
              </div>
            </div>
          </div>
          <div class="location-details" [innerHtml]="addressData?.content?.rendered | safeHtml">

          </div>
        </div><!-- /.pricing-and-location -->

      </div>
    </div>

  </div>
</div>