<div class="checkout-overlay" [ngClass]="state">
  <div class="checkout-content-wrapper" [@hideShowBag]='state'>
    <div class="checkout-inner-wrapper">

        <div class="checkout-step step-1" [ngClass]="stepState === 1 ? 'active' : 'inactive'">
          <div class="checkout-top">
            <div class="checkout-header">
              <div class="back">
              </div>
              <div class="checkout-title">My Bag</div>
              <div class="close" (click)="toggleBagState()">
                <span class="close-1"></span>
                <span class="close-2"></span>
              </div>
            </div><!-- /.checkout-header -->

            <div class="checkout-items">

              <div class="item" *ngFor="let menuItem of bagItems; let i = index;">
                <div class="left image">
                  <img src="http://via.placeholder.com/160x240" alt="" class="item-image">
                  <img src="/assets/icons/delete-cross-icon.svg" alt="X to remove item from cart" class="remove-image" (click)="removeFromBagAtIndex(i)">
                </div>
                <div class="bag-detail-card">
                  <div class="title-container">
                      <div class="title">{{ menuItem?.Name }} <span class="quantity">x {{ menuItem?.Quantity }}</span></div>
                      <a href="#" class="edit">Edit</a>
                  </div>
                  <div class="ingredients">
                    {{ (menuItem?.ShortDescription | allergens)?.description }}
                  </div>
                  <div class="fine-details">
                    <span class="price">{{ menuItem.ExtendedPrice | currency }}</span>
                    <span class="calories"></span>
                    <span class="allergens" *ngIf="(menuItem?.ShortDescription)">
                      <span class="allergen" *ngFor="let allergen of (menuItem?.ShortDescription | allergens).allergens">{{ allergen }}</span>
                    </span>
                  </div>
                </div><!-- /.bag-detail-card -->
              </div><!-- /.item -->

            </div><!-- /.checkout-items -->
          </div><!-- /.checkout-top -->


          <div class="checkout-bottom">
            <div class="cart-prices">
              <div class="price-wrapper">
                <div class="flex-between subtotal">
                  <span class="label">Subtotal</span>
                  <span class="value">$22.88</span>
                </div>
                <div class="flex-between tax">
                  <span class="label">Tax</span>
                  <span class="value">$3.00</span>
                </div>
                <div class="flex-between total">
                  <span class="label medium">Total</span>
                  <span class="value medium">$25.88</span>
                </div>
                <div class="checkout-button red-button">
                  <button type="submit" (click)="nextStep()">Checkout as Guest</button>
                </div>
                <div class="login-options">
                  <div class="login">LOG IN</div>
                  <div class="signup">SIGN UP</div>
                </div>
              </div>
            </div><!-- /.cart-prices -->
          </div><!-- /.checkout-bottom -->
        </div><!-- /.checkout-step.step-1 -->

        <div class="checkout-step step-2" [ngClass]="stepState === 2 ? 'active' : 'inactive'">

          <div class="checkout-top">
            <div class="checkout-header">
              <div class="back" (click)="previousStep()">
                <div class="back-button">
                  <span class="back-1"></span>
                  <span class="back-2"></span>
                </div>
              </div>
              <div class="checkout-title">Checkout</div>
              <div class="close" (click)="toggleBagState()">
                <span class="close-1"></span>
                <span class="close-2"></span>
              </div>
            </div><!-- /.checkout-header -->

            <div class="pickup-info">

              <h3>CONFIRM PICKUP INFO</h3>
              <img src="http://via.placeholder.com/700x320" alt="Your Location on Google Maps" class="google-map-location">

              <div class="indent">
                <p class="small-text no-margin">Ordering From</p>
                <h3>Lo•Cal Long Island</h3>
                <p class="small-text">
                  The Mall at the Source<br>
                  1504 Old Country Rd, Westbury, NY 11590<br>
                  <strong>Tel: 987-012-2345</strong>
                </p>
              </div>

              <div class="pickup-options">
                <div class="pickup-option">
                  In Store Pick Up
                  <span class="option"></span>
                </div>
                <div class="pickup-option">
                  Curbside Pick Up
                  <span class="option"></span>
                </div>
              </div>

              <div class="indent">
                <h3>See you <span class="red-text">at the curbside!</span></h3>
                <p>
                  Only in the food court parking lot. Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div><!-- /.pickup-info -->
          </div><!-- /.checkout-top -->


          <div class="checkout-bottom">
            <div class="cart-prices indent">
              <div class="flex-between pickup-time">
                <span class="label medium">Pickup Time</span>
                <span class="value medium editable">12.15 PM</span>
              </div>
              <div class="flex-between phone-number">
                <span class="label medium">Phone Number</span>
                <span class="value medium editable">999-999-9999</span>
              </div>
              <div class="flex-between car-info">
                <span class="label medium">Car Color/Model</span>
                <span class="value medium editable">Blue Infinity Coupe</span>
              </div>
              <div class="flex-between promo-code">
                <span class="label medium">Promo Code</span>
                <span class="value medium editable">(Optional)</span>
              </div>
              <div class="flex-between promo-code">
                <span class="label medium">Payment</span>
                <span class="value medium editable">Visa ending in 1010</span>
              </div>
              <div class="checkout-button red-button">
                <button type="submit">Place Order Now $25.88</button>
              </div>
            </div><!-- /.cart-prices -->
          </div><!-- /.checkout-bottom -->

        </div><!-- /.checkout-step step-2 -->

    </div><!-- /.checkout-inner-wrapper -->
  </div><!-- /.checkout-content-wrapper -->
</div><!-- /.checkout-overlay -->