<div class="home page-front">

    <header class="header-container">
      <div class="content" [ngStyle]="{'background-image':'url(' + featuredImage?.source_url + ')'}">
        <div class="header-content center-1440 clearfix">
          <div class="wysiwyg-content">
              <h2 [innerHtml]="pageContent?.title?.rendered"></h2>
              <div [innerHtml]="pageContent?.content?.rendered"></div>
          </div>
        </div>
      </div>
    </header>

  <div class="content-container">

    <lo-cal-intro-section [acf]="acf"></lo-cal-intro-section>

    <lo-cal-title-body-images [acf]="acf" [color]="'grey'"></lo-cal-title-body-images>

    <div class="section section-white our-menu">
      <div class="content text-center">
        <h3 class="title" [innerHtml]="acf?.menu_title"></h3>
        <p class="body center-740 text-center" [innerHtml]="acf?.menu_description"></p>
        <div class="menu-items center-1440">
          <div class="item item-{{ i+1 }}" *ngFor="let item of acf?.menu_items; let i = index">
            <div class="item-wrapper text-center">
              <div class="image"><img *ngIf="item?.image?.url" [src]="item?.image?.url" [alt]="item?.image?.alt"></div>
              <div class="title" *ngIf="item?.item_title">{{ item?.item_title }}</div>
            </div>
          </div>
        </div><!-- /.menu-items -->
        <div class="link red-button"><a routerLink="/menu">View the Full Menu</a></div>
      </div>
    </div><!-- /.out-menu -->

    <!-- <div class="section section-grey app-ad">
      <div class="content center">
        <div class="left">
          <div class="inner-content">
            <h4 class="title" [innerHtml]="acf?.mobile_order_title"></h4>
            <div class="body">
              <p [innerHtml]="acf?.mobile_ordering_text"></p>
              <div class="app-downloads" *ngIf="acf?.ios_app_link && acf?.android_app_link">
                <a [href]="acf?.ios_app_link"><img *ngIf="acf?.ios_app_store_image?.url" [src]="acf?.ios_app_store_image?.url" [alt]="acf?.ios_app_store_image?.alt" /></a>
                <a [href]="acf?.android_app_link"><img *ngIf="acf?.android_app_store_image?.url" [src]="acf?.android_app_store_image?.url" [alt]="acf?.android_app_store_image?.alt" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <lo-cal-image-and-text [acf]="acf"></lo-cal-image-and-text>

  </div>
</div><!-- /.home -->