<div class="home">

    <header class="header-container">
      <div class="content" [ngStyle]="{'background-image':'url(' + featuredImage?.source_url + ')'}">
        <div class="header-content text-center">
          <h2 [innerHtml]="pageContent?.title?.rendered"></h2>
          <div [innerHtml]="pageContent?.content?.rendered"></div>
        </div>
      </div>
    </header>

  <div class="content-container">

    <div class="section section-white callout">
      <div class="content">
        <h3 class="title" [innerHtml]="acf?.title"></h3>
        <div class="body" [innerHtml]="acf?.body"></div>
        <div class="button-wrapper text-center">
          <a [href]="acf?.link" class="red-button">Learn More</a>
        </div>
      </div>
    </div>

    <div class="section section-grey food-details">
      <div class="content center-740">
        <h3 class="title" [innerHtml]="acf?.our_food_title"></h3>
        <div class="body" [innerHtml]="acf?.our_food_body"></div>
      </div>
      <div class="three-column-data">
        <div class="data item-{{ i+1 }}" *ngFor="let item of acf?.food; let i = index">
          <div class="content-wrapper text-center">
            <div class="image" *ngIf="item?.image?.url"><img [src]="item?.image?.url" [alt]="item?.image?.alt"></div>
            <div class="title" *ngIf="item?.title">{{ item?.title }}</div>
            <div class="description" *ngIf="item?.description"><p>{{ item?.description }}</p></div>
          </div>
        </div>
      </div>
    </div><!-- /.food-details -->

    <div class="section section-white our-menu">
      <div class="content text-center">
        <h3 class="title" [innerHtml]="acf?.menu_title"></h3>
        <div class="body center-740" [innerHtml]="acf?.menu_description"></div>
        <div class="menu-items center">
          <div class="item item-{{ i+1 }}" *ngFor="let item of acf?.menu_items; let i = index">
            <div class="item-wrapper text-center">
              <div class="image"><img *ngIf="item?.image?.url" [src]="item?.image?.url" [alt]="item?.image?.alt"></div>
              <div class="title" *ngIf="item?.item_title">{{ item?.item_title }}</div>
            </div>
          </div>
        </div><!-- /.menu-items -->
        <div class="link"><a *ngIf="acf?.full_menu_link" [href]="acf?.full_menu_link" class="red-button">View the Full Menu</a></div>
      </div>
    </div><!-- /.out-menu -->

    <div class="section section-grey app-ad">
      <div class="content center">
        <div class="left" *ngIf="acf?.app_image">
          <img [src]="acf?.app_image?.url" [alt]="acf?.app_image?.alt" />
        </div>
        <div class="right">
          <div class="inner-content">
            <h3 class="title" [innerHtml]="acf?.mobile_order_title"></h3>
            <div class="body">
              <p [innerHtml]="acf?.mobile_ordering_text"></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.app-ad -->

    <div class="section section-white location-details">
      <h3 class="title text-center">LOCATION</h3>
      <div class="content center">
        <div class="left" *ngIf="acf?.location_image">
          <img [src]="acf?.location_image?.url" [alt]="acf?.location_image?.alt" />
        </div>
        <div class="right" *ngIf="acf?.location_details" [innerHtml]="acf?.location_details"></div>
      </div>
    </div>

  </div>
</div><!-- /.home -->