<div class="account-section">
  <div class="account-heading">
    <h3>Account Details</h3>
    <a href="" (click)="editAccountDetails()" role="button">{{ editing ? 'Cancel' : 'Edit' }}</a>
  </div>
  <form action="" [formGroup]="accountForm" class="lo-cal-form" [ngClass]="editing ? 'editing' : 'static'" (submit)="saveAccountDetails(accountForm)">
    <div class="error-message" *ngIf="errorOccurred">
      <p>
        Something went wrong. Please try again.
      </p>
    </div>
    <div class="form-section half-and-half">
      <div class="form-component form-component-text">
        <label for="first-name" class="visuallyhidden">First Name</label>
        <input type="text" [readonly]="!editing" name="first-name" id="first-name" formControlName="first-name" placeholder="First Name*" [ngClass]="{'has-error':!accountForm.controls['first-name'].valid}">
        <div class="error-message" *ngIf="!accountForm.controls['first-name'].valid">This field is required.</div>
      </div>
      <div class="form-component form-component-text">
        <label for="last-name" class="visuallyhidden">Last Name</label>
        <input type="text" [readonly]="!editing" name="last-name" id="last-name" formControlName="last-name" placeholder="Last Name*" [ngClass]="{'has-error':!accountForm.controls['last-name'].valid}">
        <div class="error-message" *ngIf="!accountForm.controls['last-name'].valid">This field is required.</div>
      </div>
    </div>
    <div class="form-component form-component-email">
      <label for="email" class="visuallyhidden">Email</label>
      <input type="text" [readonly]="!editing" name="email" id="email" formControlName="email" placeholder="Email*" [ngClass]="{'has-error':!accountForm.controls['email'].valid}">
      <div class="error-message" *ngIf="!accountForm.controls['email'].valid">This field is required.</div>
    </div>
    <div class="control-wrapper" formGroupName="full-address">
      <div class="form-component form-component-text">
        <label for="address" class="visuallyhidden">Address</label>
        <input type="text" [readonly]="!editing" name="address" id="address" formControlName="address" placeholder="Address*" [ngClass]="{'has-error':!accountForm.controls['full-address']['controls']['address'].valid && submittedOnce}">
        <div class="error-message" *ngIf="!accountForm.controls['full-address']['controls']['address'].valid && submittedOnce">This field is required.</div>
      </div>
      <div class="form-component form-component-text">
        <label for="address2" class="visuallyhidden">Address 2</label>
        <input type="text" [readonly]="!editing" name="address2" id="address2" formControlName="address2" placeholder="Apartment/Suite/Unit/Building (optional)">
      </div>
      <div class="form-section thirds">
        <div class="form-component form-component-text">
          <label for="city" class="visuallyhidden">City</label>
          <input type="text" [readonly]="!editing" name="city" id="city" formControlName="city" placeholder="City*" [ngClass]="{'has-error':!accountForm.controls['full-address']['controls']['city'].valid && submittedOnce}">
          <div class="error-message" *ngIf="!accountForm.controls['full-address']['controls']['city'].valid && submittedOnce">This field is required.</div>
        </div>
        <div class="form-component form-component-select">
          <label for="state" class="visuallyhidden">State</label>
          <select name="state" id="state" formControlName="state" [ngClass]="{'has-error':!accountForm.controls['full-address']['controls']['state'].valid && submittedOnce}">
            <option value="">-- Select --</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="form-component form-component-text">
          <label for="zip" class="visuallyhidden">Zip Code</label>
          <input type="text" [readonly]="!editing" name="zip" id="zip" formControlName="zip" placeholder="Zip*" [ngClass]="{'has-error':!accountForm.controls['full-address']['controls']['zip'].valid && submittedOnce}">
          <div class="error-message" *ngIf="!accountForm.controls['full-address']['controls']['zip'].valid && submittedOnce">This field is required.</div>
          <div class="error-message" *ngIf="accountForm.controls['full-address']['controls']['zip'].errors?.pattern && accountForm.controls['full-address']['controls']['zip'].value.length > 5">Zip code must be only 5 digits.</div>
        </div>
      </div>
    </div>

    <div class="submit red-button full-width-button submit">
      <input type="submit" value="Save" *ngIf="editing" [disabled]="!accountForm.valid">
    </div>
  </form>
</div>

<div class="account-section">
  <div class="account-heading">
    <h3>Change Password</h3>
    <a href="" (click)="editPassword()" role="button">{{ editingPassword ? 'Cancel' : 'Edit' }}</a>
  </div>
  <form action="" [formGroup]="passwordForm" class="lo-cal-form" [ngClass]="editingPassword ? 'editing' : 'static'" (submit)="saveNewPassword(passwordForm)">
    <div class="form-component form-component-text">
      <label for="password" class="visuallyhidden">New Password</label>
      <input type="password" [readonly]="!editingPassword" name="password" id="password" formControlName="password" placeholder="New Password* (8 or more characters)" [ngClass]="{'has-error':!passwordForm.controls['password'].valid && submittedOnce}">
      <div class="error-message" *ngIf="!passwordForm.controls['password'].valid && submittedOnce">This field is required.</div>
      <div class="error-message" *ngIf="passwordForm.controls['password'].value.length > 2 && passwordForm.controls['password'].errors?.minlength">Password must be at least 8 characters, contain at least 1 number, and 1 uppercase character.</div>
    </div>
    <div class="form-component form-component-text">
      <label for="confirm-password" class="visuallyhidden">Confirm Password</label>
      <input type="password" [readonly]="!editingPassword" name="confirm-password" id="confirm-password" formControlName="confirm-password" placeholder="Confirm Password*" [ngClass]="{'has-error':!passwordForm.controls['confirm-password'].valid && submittedOnce}">
      <div class="error-message" *ngIf="!passwordForm.controls['confirm-password'].valid && submittedOnce">This field is required.</div>
      <div class="error-message" *ngIf="passwordForm.controls['confirm-password'].errors?.MatchPassword">Password does not match.</div>
    </div>
    <div class="form-component form-component-text" *ngIf="editingPassword">
      <p></p>
    </div>
    <div class="form-component form-component-text">
      <label for="password" class="visuallyhidden">Security Answer</label>
      <input type="password" [readonly]="!editingPassword" name="security-answer" id="security-answer" formControlName="security-answer" placeholder="Old Password*" [ngClass]="{'has-error':!passwordForm.controls['security-answer'].valid && submittedOnce}">
      <div class="error-message" *ngIf="!passwordForm.controls['security-answer'].valid && submittedOnce">This field is required.</div>
    </div>

    <div class="submit red-button full-width-button submit">
      <input type="submit" value="Save" *ngIf="editingPassword" [disabled]="!passwordForm.valid">
    </div>
  </form>
</div>

<div class="account-section">
  <div class="account-heading">
    <h3>Saved Payments</h3>
    <a href="" (click)="editPayments()" role="button">{{ editingPassword ? 'Cancel' : 'Edit' }}</a>
  </div>
  <div class="payments" *ngIf="savedPayments">
    <div class="payment id-{{ savedPayments?.AccountId }}">
      <p class="card-details small-text">
        {{ savedPayments?.MethodType | cardType }}: {{ savedPayments?.MaskedAccountNumber }}
      </p>
      <p class="delete" (click)="deletePaymentMethod(savedPayments?.AccountId)" *ngIf="editingPayments">
        <span class="icon"></span>
      </p>
    </div>
  </div>
</div>