<div class="basic-page-container">
    <div class="basic-page-content">
      <div class="account-container center-960">
        <div class="account-navigation">
          <ul>
            <li><a href="/account">Account</a></li>
            <li><a href="/account/order-history">Order History</a></li>
            <li><a href="" (click)="logout()" role="button">Logout</a></li>
          </ul>
        </div>
        <div class="account-details">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>