<div class="basic-page-container">
    <div class="basic-page-content">
      <div class="account-container center-960">
        <div class="account-navigation">
          <ul>
            <li><a routerLink="/account" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Account</a></li>
            <li><a routerLink="/account/order-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Order History</a></li>
            <li><a href="" (click)="logout()" role="button" class="logout-link">Logout</a></li>
          </ul>
        </div>
        <div class="account-details">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>