<div class="page-item-detail">
  <div class="menu-item-header">
    <div class="breadcrumb">
      <ul>
        <li><a href="#">Menu</a><span class="separator">></span></li>
        <li><a href="#">Salad</a><span class="separator">></span></li>
        <li class="active">Athena</li>
      </ul>
    </div>
    <img src="http://via.placeholder.com/1400x350" alt="Image of food">
  </div>

  <div class="customization-container">
    <div class="left customization-options">

    </div>
  </div>
</div><!-- /.page-item-detail -->