<div class="page-item-detail">
  <div class="menu-item-header">
    <h1 class="title">Athena Bowl</h1>
    <img src="//via.placeholder.com/1400x515" alt="Image of food">
  </div>

  <div class="customization-container center-1440">
    <div class="left customization-options">

      <div class="customization-category">
        <div class="content">
          <div class="header">
            <span class="title">Lettuces</span>
            <span class="choices">Choose up to 2 (1/2)</span>
            <span class="edit">Done</span>
          </div>
          <div class="options">
            <div class="option">
              <div class="ingredient">Romaine</div>
              <div class="calories">30 cal</div>
              <div class="selected" (click)="toggleChoice($event)">
                <span class="counter"></span>
              </div>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Arugula</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Baby Spinach</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Baby Kale</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Mesculin Mix</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
          </div>
        </div>
      </div><!-- /.customization-category -->

      <div class="customization-category">
        <div class="content">
          <div class="header">
            <span class="title">Toppings</span>
            <span class="choices">Choose up to 5 (4/5)</span>
            <span class="edit">Edit</span>
          </div>
          <div class="options">
            <div class="option">
              <div class="ingredient">Cherry Tomato</div>
              <div class="calories">30 cal</div>
              <div class="selected" (click)="toggleChoice($event)">
                <span class="counter"></span>
              </div>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Cucumber</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Kalamata Olives</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="more-options">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div><!-- /.more-options -->
          </div><!-- /.options -->
        </div>
      </div><!-- /.customization-category -->

      <div class="customization-category">
        <div class="content">
          <div class="header">
            <span class="title">Cheese</span>
            <span class="choices">Choose up to 2 (2/2)</span>
            <span class="edit">Edit</span>
          </div>
          <div class="options">
            <div class="option">
              <div class="ingredient">Cheese 1</div>
              <div class="calories">30 cal</div>
              <div class="selected" (click)="toggleChoice($event)">
                <span class="counter"></span>
              </div>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Cheese 2</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="more-options">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div><!-- /.more-options -->
          </div><!-- /.options -->
        </div>
      </div><!-- /.customization-category -->

      <div class="customization-category">
        <div class="content">
          <div class="header">
            <span class="title">Protein</span>
            <span class="choices">Choose up to 2 (2/2)</span>
            <span class="edit">Edit</span>
          </div>
          <div class="options">
            <div class="option">
              <div class="ingredient">Chickpeas</div>
              <div class="calories">30 cal</div>
              <div class="selected" (click)="toggleChoice($event)">
                <span class="counter"></span>
              </div>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Shrimp</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="more-options">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div><!-- /.more-options -->
          </div><!-- /.options -->
        </div>
      </div><!-- /.customization-category -->

      <div class="customization-category">
        <div class="content">
          <div class="header">
            <span class="title">Dressing</span>
            <span class="choices">Choose up to 2 (2/2)</span>
            <span class="edit">Edit</span>
          </div>
          <div class="options">
            <div class="option">
              <div class="ingredient">Balsamic Vinagrette</div>
              <div class="calories">30 cal</div>
              <div class="selected" (click)="toggleChoice($event)">
                <span class="counter"></span>
              </div>
            </div><!-- /.option -->
            <div class="option">
              <span class="ingredient">Rance</span>
              <span class="calories">30 cal</span>
              <span class="selected">
                <span class="counter"></span>
              </span>
            </div><!-- /.option -->
            <div class="more-options">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div><!-- /.more-options -->
          </div><!-- /.options -->
        </div>
      </div><!-- /.customization-category -->

    </div><!-- /.left.customization-options -->
    <div class="right">
      <div class="final-product">
        <div class="title">Athena Bowl</div>
        <div class="ingredients">
          Romaine, grilled shrimp, cucumber, tomato, kalamata olives, feta, chickpeas, greek dressing
        </div>
        <div class="fine-details">
          <span class="price">$12.99</span>
          <span class="calories">360 cal</span>
          <span class="allergens">
            <span class="allergen">VG</span>
            <span class="allergen">PL</span>
            <span class="allergen">V</span>
          </span>
        </div>
      </div><!-- /.final-product -->

      <div class="special-instructions">
        <label for="special-instructions">Add Special Instruction (optional)</label>
        <textarea name="special-instructions" id="" cols="30" rows="5">

        </textarea>
      </div><!-- /.special-instructions -->

      <div class="quantity-wrapper">
        <div class="text">Quantity</div>
        <div class="quantity-changer">
          <span class="minus" (click)="decrementQuantity()">-</span>
          <span class="quantity">{{ quantity }}</span>
          <span class="plus" (click)="incrementQuantity()">+</span>
        </div>
      </div>

      <div class="add-button red-button">
        <button>Add to Bag (+$12.99)</button>
      </div>
    </div><!-- /.right -->
  </div>
</div><!-- /.page-item-detail -->