<div class="page-item-detail">
  <div class="menu-item-header">
    <h1 class="title">{{ menuItemDetails?.item?.Name }}</h1>
    <img *ngIf="featuredImage" [src]="featuredImage" [alt]="featuredImageAlt">
  </div>

  <div class="customization-container center-1440">
    <div class="left customization-options">

      <div class="customization-category" *ngFor="let modGroup of salesItemDetails?.ModGroups">
        <div class="content">
          <div class="header">
            <span class="title">{{ modGroup?.DisplayName }}</span>
            <span class="choices" *ngIf="modGroup?.MaximumItems > 0">Choose up to {{ modGroup?.MaximumItems }} ({{ customizationData[modGroup?.$id].currentlySelected.length }}/{{ modGroup?.MaximumItems }})</span>
          </div>
          <div class="options" *ngFor="let modifier of modGroup?.Mods">
            <div class="option">
              <div class="ingredient">{{ modifier?.Name }}</div>
              <div class="calories">{{ modifier?.ItemModifiers[0]?.CaloricValue }} <span *ngIf="modifier?.ItemModifiers[0]?.CaloricValue !== null">cal</span> </div>
              <div class="choice-controls">
                <span class="minus" [ngClass]="(customizationData[modGroup?.$id].currentlySelected.length > 0 && customizationData[modGroup?.$id].modifiers[modifier?.$id].quantity > 0) ? 'enabled' : 'disabled'" (click)="removeModifier(modGroup, modifier)">-</span>
                <span class="quantity-container" [ngClass]="customizationData[modGroup?.$id].modifiers[modifier?.$id]?.quantity > 0 ? 'populated' : ''">
                  <span class="quantity" *ngIf="customizationData[modGroup?.$id].modifiers[modifier?.$id]?.quantity !== 0">
                    {{ customizationData[modGroup?.$id].modifiers[modifier?.$id]?.quantity }}
                  </span>
                </span>
                <span class="plus" [ngClass]="((customizationData[modGroup?.$id].currentlySelected.length < modGroup?.MaximumItems) || (modGroup?.MaximumItems === 0 && customizationData[modGroup?.$id].modifiers[modifier?.$id].quantity < 1)) ? 'enabled' : 'disabled'" (click)="addModifier(modGroup, modifier)">+</span>
              </div>
            </div><!-- /.option -->
          </div><!-- /.options -->
        </div>
      </div><!-- /.customization-category -->

    </div><!-- /.left.customization-options -->
    <div class="right">
      <div class="final-product">
        <div class="title">{{ menuItemDetails?.item?.Name }}</div>
        <div class="ingredients" *ngIf="menuItemDetails?.item?.Description">
          {{ (menuItemDetails?.item?.Description | allergens)?.description }}
        </div>
        <div class="customization-ingredients" *ngIf="currentModifierArray">
          <span class="customization" *ngFor="let item of currentModifierArray; let last = last;">{{ item?.DisplayName }}<span class="separator" *ngIf="!last">, </span></span>
        </div>
        <div class="fine-details">
          <span class="price">{{ totalPrice | currency }}</span>
          <span class="calories" *ngIf="salesItemDetails?.CaloricValue !== 0 || salesItemDetails?.CaloricValue !== null">{{ calorieCount }} cal</span>
          <span class="allergens" *ngIf="(menuItemDetails?.item?.Description)">
            <span class="allergen" *ngFor="let allergen of (menuItemDetails?.item?.Description | allergens).allergens">{{ allergen }}</span>
          </span>
        </div>
      </div><!-- /.final-product -->

      <div class="special-instructions">
        <label for="special-instructions">Add Special Instruction (optional)</label>
        <textarea name="special-instructions" id="" cols="30" rows="5" [(ngModel)]="specialInstructions"></textarea>
      </div><!-- /.special-instructions -->

      <div class="quantity-wrapper">
        <div class="text">Quantity</div>
        <div class="quantity-changer">
          <span class="minus" (click)="decrementQuantity()">-</span>
          <span class="quantity">{{ quantity }}</span>
          <span class="plus" (click)="incrementQuantity()">+</span>
        </div>
      </div>

      <div class="size-wrapper" *ngIf="multipleSalesItems.length > 0">
        <label for="size" class="text">Size</label>
        <select name="size" id="size" class="custom white-bg" [(ngModel)]="sizeChoice" (ngModelChange)="updateDataPerSize(sizeChoice)">
          <option [value]="salesItem?.SalesItemId" *ngFor="let salesItem of multipleSalesItems">{{ salesItem?.DisplayName }}</option>
        </select>
      </div>

      <div class="add-button red-button">
        <button *ngIf="totalPrice" (click)="addToBag()">Add to Bag (+{{ totalPrice | currency }})</button>
      </div>
    </div><!-- /.right -->
  </div>
</div><!-- /.page-item-detail -->