<div class="basic-page-container">
  <div class="basic-page-content">
    <div class="blog-details center-960 text-center">
      <h1>Blogs</h1>
    </div>
    <div class="featured-image center" *ngIf="featuredImage">
      <img [src]="featuredImage?.source_url" [alt]="featuredImage?.alt_text">
    </div>
    <div class="content center-960">
      <div class="blog-posts">
        <div class="post" *ngFor="let post of allBlogPosts">
          <div class="left" *ngIf="post?.featured_media">
            <a [routerLink]="[post?.slug]">
              <img src="{{ post?._embedded | featuredImage: 'blog-preview' }}" alt="{{ post?._embedded | featuredImage: 'alt' }}">
            </a>
          </div>
          <div class="right">
            <div class="title" *ngIf="post?.title">{{ post?.title?.rendered }}</div>
            <div class="date" *ngIf="post?.date"> {{ post?.date | date:'MMMM d, yyyy' }} </div>
            <div class="excerpt" *ngIf="post?.excerpt" [innerHtml]="post?.excerpt?.rendered | safeHtml"></div>
            <div class="link" *ngIf="post?.slug">
              <a [routerLink]="[post?.slug]">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>