<div class="site-container">
  <div class="sticky-header">
    <div class="menu-container">
      <ul class="menu">
        <li>
          <h1 class="page-title" *ngIf="currentUrl?.url == '/'; else regularLink"><a routerLink="/"><span class="visuallyhidden">Lo•Cal Kitchen</span></a></h1>
          <ng-template #regularLink>
            <div class="page-title"><a routerLink="/"><span class="visuallyhidden">Lo•Cal Kitchen</span></a></div>
          </ng-template>
        </li>
        <li *ngFor="let item of mainMenuLinks" [attr.class]="item.classes ? item.classes : null">
          <a routerLink="/{{ item.object_slug }}" routerLinkActive="active">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <lo-cal-footer></lo-cal-footer>
</div>