<div class="mobile-menu" *responsive="{ sizes: {min:300, max:860}}" [ngClass]="mobileMenuState" (click)="toggleMobileMenuState($event.target)">
  <div class="mobile-menu-content">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li *ngFor="let item of mainMenuLinks" [attr.class]="item.classes ? item.classes : null">
        <a routerLink="/{{ item.object_slug }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ item.title }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="site-container" [ngClass]="mobileMenuState" loCalWindowScroll>
  <div class="sticky-header">
    <div class="menu-container clearfix">
      <lo-cal-hamburger (mobileMenuState)="toggleMobileMenuState()" *responsive="{ sizes: {min:300, max:860}}"></lo-cal-hamburger>
      <ul class="menu main-menu">
        <li>
          <h1 class="logo" *ngIf="currentUrl?.url == '/'; else regularLink"><a routerLink="/"><span class="visuallyhidden">Lo•Cal Kitchen</span></a></h1>
          <ng-template #regularLink>
            <div class="logo"><a routerLink="/"><span class="visuallyhidden">Lo•Cal Kitchen</span></a></div>
          </ng-template>
        </li>
        <li *ngFor="let item of mainMenuLinks" [attr.class]="item.classes ? item.classes : null">
          <a routerLink="/{{ item.object_slug }}" routerLinkActive="active">{{ item.title }}</a>
        </li>
      </ul>
      <ul class="cart-menu menu">
        <li class="account-link">
          <a routerLink="/account"><span class="account-text">ACCOUNT</span></a>
        </li>
        <li class="bag-link">
          <a tabindex="0" (click)="toggleBagState()" (keyup.enter)="toggleBagState()" title="Click to view your bag">
            <span class="bag-text">MY BAG</span>
            <span class="cart-number" [ngClass]="numberOfItemsInBag == 0 ? 'hidden' : 'populated'">{{ numberOfItemsInBag }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <lo-cal-footer></lo-cal-footer>
  <lo-cal-bag [state]="bagState" [bagCount]="numberOfItemsInBag" [bagItems]="bagItems" (bagState)="toggleBagState()"></lo-cal-bag>
</div>