.section{
  padding: 50px 0;

  &.section-white{
    background: $white;
  }

  &.section-grey{
    background: $light-grey;
  }

  h3{
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    color: $orange-red;
    @include fontsize(34);
    letter-spacing: 1.3px;
  }

  .button-wrapper{
    margin: 50px 0 0;
  }
}

.site-container{
  background: $light-grey;
  @include transition();
  transform: translate3d(0,0,0);

  &.mobileMenuOpen{
    transform: translate3d(260px,0,0);
    overflow-x: hidden;
    box-shadow: -3px 0 10px 0 rgba(0,0,0,.6);
  }
}

.mobile-menu{
  background: $off-black;
  position: fixed;
  top: 0;
  width: 260px;
  left: -260px;
  overflow-y: auto;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  @include transition();

  &.mobileMenuOpen{
    transform: translate3d(260px,0,0);
  }
}

.button-wrapper{
  text-align: center;
}

.center-400{
  @include stagecenter(400);
}

.center-740{
  @include stagecenter(740);
}

.center-960{
  @include stagecenter(960);
}

.center-1440{
  @include stagecenter(1440);
}

.center{
  @include stagecenter();
}

.clearfix{
  @extend %clearfix;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.checkout-wrapper{

  @include breakpoint($bp-680){
    display: flex;
    justify-content: space-between;

    .left-pane{
      width: 65%;
    }

    .order-summary{
      width: 30%;
    }
  }
}