.section{
  padding: 50px 0;

  &.section-white{
    background: $white;
  }

  &.section-grey{
    background: $e1;
  }

  h3{
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    color: $orange-red;
    @include fontsize(34);
    letter-spacing: 1.3px;
  }

  .button-wrapper{
    margin: 50px 0 0;
  }
}

.button-wrapper{
  text-align: center;
}

.center-400{
  @include stagecenter(400);
}

.center-740{
  @include stagecenter(740);
}

.center-960{
  @include stagecenter(960);
}

.center-1440{
  @include stagecenter(1440);
}

.center{
  @include stagecenter();
}

.clearfix{
  @extend %clearfix;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}