body,html{
  color: $off-black;
  @include fontsize(16);
  @extend %sofia-regular;
}

%sofia{
  font-family: "sofia-pro",sans-serif;
  font-style: normal;
}

%sofia-regular{
  @extend %sofia;
  font-weight: 400;
}

%sofia-light{
  @extend %sofia;
  font-weight: 300;
}

%sofia-medium{
  @extend %sofia;
  font-weight: 500;
}

%sofia-semi-bold{
  @extend %sofia;
  font-weight: 600;
}

%sofia-bold{
  @extend %sofia;
  font-weight: 700;
}

p{
  @extend %sofia-regular;
  @include fontsize(18);

  &.promotion-text{
    @include fontsize(24);
    @extend %sofia-regular;
    letter-spacing: 0.8px;
    color: $off-black;
  }
}

a{
  @extend %sofia-regular;
  color: $orange-red;
}

h1{
  @extend %sofia-semi-bold;
  @include fontsize(60);
  margin: 15px 0;
}

h2{
  @extend %sofia-semi-bold;
  @include fontsize(34);
  margin: 15px 0;
}

h3{
  @extend %sofia-semi-bold;
  @include fontsize(26);
  margin: 15px 0;
}

h4{
  @extend %sofia-medium;
  @include fontsize(24);
  margin: 15px 0;
}

h5{
  @include fontsize(18);
  margin: 15px 0;
}

img{
  max-width: 100%;
  height: auto;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.light{
  @extend %sofia-light;
}

.medium{
  @extend %sofia-medium;
}

.semi-bold{
  @extend %sofia-semi-bold;
}

.bold{
  @extend %sofia-bold;
}

.red-button{
  a,
  button{
    border: none;
    @extend %red-button;
    @include transition();

    &:hover,
    &:focus{
      background: $red-hover;
    }
  }
}

.black-button{
  a{
    @extend %black-button;
    @include transition();

    &:hover,
    &:focus{
      background: $c-4a;
    }
  }
}

.visuallyhidden{
  @extend %visuallyhidden;
}