.account-container{
  @include breakpoint($bp-768){
    display: flex;
    justify-content: space-between;
  }

  .account-section{
    margin: 0 0 30px;
  }

  .account-details{
    @include breakpoint($bp-768){
      width: 70%;
      margin-left: 4%;
    }
  }

  .account-navigation{
    @include breakpoint($bp-768){
      width: 26%;
    }
  }

  .lo-cal-form.static{
    input{
      border-bottom: 1px solid transparent;
    }
  }

  .account-heading{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $e1;
    align-items: center;
    margin: 0 0 20px;
  }
}