.account-container{
  @include breakpoint($bp-768){
    display: flex;
    justify-content: space-between;
  }

  .account-section{
    margin: 0 0 30px;
  }

  .account-details{
    @include breakpoint($bp-768){
      width: 70%;
      margin-left: 4%;
    }
  }

  .account-navigation{
    @include breakpoint($bp-768){
      width: 26%;
    }
  }

  .lo-cal-form.static{
    input{
      border-bottom: 1px solid transparent;
    }
  }

  .account-heading{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $e1;
    align-items: center;
    margin: 0 0 20px;
  }

  .payments{
    .payment{
      display: flex;
      justify-content: space-between;
    }

    .delete{
      cursor: pointer;
      position: relative;
    }

    .icon {
      display: block;
      position: absolute;
      right: 0;
      width: 25px;
      height: 25px;
      transform: rotate(45deg);

      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 15px;
        background: $black;
        opacity: 1;
        left: 0;
        right: 0;
        margin: -2px auto 0;
        top: 50%;
      }

      &:before {
        transform: rotate(90deg);
      }
    }
  }
}