.blog-post{
  .featured-image{
    text-align: center;
  }

  .content{
    p,a{
      @extend %sofia-light;
    }
  }

  .share-text{
    @include fontsize(14);
    @extend %sofia-light;
    opacity: .7;
  }
}

.blog-details{
  margin-bottom: 15px;
}

