.card-sprite-wrapper{
  .card{
    background: url("/assets/images/cc-sprite.png");
    display: inline-block;
    margin: 0 0 0 2px;
    width: 21px;
    height: 15px;
    opacity: .7;
    @include transition(opacity);

    &:first-child{
      margin: 0;
    }

    &.visa{
      background-position: 0 15px;
    }
    &.mastercard{
      background-position: -21px 15px;
    }
    &.american-express{
      background-position: -42px 15px;
    }
    &.discover{
      background-position: -63px 15px;
    }
    &.diners-club{
      background-position: -84px 15px;
    }

    &.active{
      opacity: 1;
      background-position-y: 0;
    }
  }
}

#card-number{
  &.mastercard + .card-sprite-wrapper .mastercard{
    opacity: 1;
    background-position-y: 0;
  }

  &.dinersclub + .card-sprite-wrapper .diners-club{
    opacity: 1;
    background-position-y: 0;
  }

  &.visa + .card-sprite-wrapper .visa{
    opacity: 1;
    background-position-y: 0;
  }

  &.discover + .card-sprite-wrapper .discover{
    opacity: 1;
    background-position-y: 0;
  }

  &.amex + .card-sprite-wrapper .american-express{
    opacity: 1;
    background-position-y: 0;
  }
}