.checkout-wrapper{
  .inner-step-wrapper{
    background: $white;
    margin: 0 0 20px;
    padding: 25px 35px;
  }

  .step-heading{
    @include fontsize(19);
    @extend %sofia-semi-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    cursor: pointer;
  }

  .step-wrapper{
    margin: 15px 0 0;
  }

  .step{

    .lo-cal-form{
      input{
        background: $white;
      }
    }

    &.step-4{
      display: none;

      @include breakpoint($bp-680){
        display: block;
      }
    }
  }

  .next-step{
    margin: 40px 0 0;

    button{
      @include fontsize(14);
      opacity: 1;

      &:disabled{
        opacity: .5;
      }
    }

    &.step-4-button{
      display: none;

      @include breakpoint($bp-680){
        display: block;
      }
    }
  }

  .lo-cal-form{

    .pickup-time-label{
      @include fontsize(16);
      margin: 10px 0;
    }

    .car-options{
      margin: 20px 0 0;
    }

    .radio-options{
      display: block;

      @include breakpoint($bp-460){
        display: flex;
      }

      @include breakpoint($bp-575){
        width: 80%;
      }

      @include breakpoint($bp-680){
        width: 95%;
      }

      @include breakpoint($bp-940){
        width: 65%;
      }

      .option{
        margin: 0 0 10px;

        @include breakpoint($bp-460){
          margin: 0 4px 0 0;
        }

        input{
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px; margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;

          &:checked + span::before{
            @include svg-bg(svgs/checkmark);
          }

          // &:focus + span::after{
          //   content: '\0020\2190';
          //   font-size: 1.5em;
          //   line-height: 1;
          //   vertical-align: -0.125em;
          // }
        }

        span{
          display: flex;
          align-items: center;

          &::before{
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: -0.25em;
            border-radius: 1em;
            border: 1px solid $black;
            margin-right: 0.75em;
            @include transition();
          }
        }
      }
    }
  }

  .card-sprite-wrapper{
    .card{
      background: url("/assets/images/cc-sprite.png");
      display: inline-block;
      margin: 0 0 0 2px;
      width: 21px;
      height: 15px;
      opacity: .7;
      @include transition(opacity);

      &:first-child{
        margin: 0;
      }

      &.visa{
        background-position: 0 15px;
      }
      &.master-card{
        background-position: -21px 15px;
      }
      &.american-express{
        background-position: -42px 15px;
      }
      &.discover{
        background-position: -63px 15px;
      }
      &.diners-club{
        background-position: -84px 15px;
      }

      &.active{
        opacity: 1;
        background-position-y: 0;
      }
    }
  }
}