.checkout-wrapper{
  .inner-step-wrapper{
    background: $white;
    margin: 0 0 20px;
    padding: 25px 35px;
  }

  .step-heading{
    @include fontsize(19);
    @extend %sofia-semi-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    cursor: pointer;
  }

  .step-wrapper{
    margin: 15px 0 0;
  }

  .step{

    .lo-cal-form{
      input{
        background: $white;
      }
    }
  }

  .next-step{
    margin: 40px 0 0;

    button{
      @include fontsize(14);
      opacity: 1;

      &:disabled{
        opacity: .5;
      }
    }
  }

  .lo-cal-form{
    select.pickup-time{
      background: $white;
      border: 1px solid $e1;
      border-radius: 0;
      height: 35px;
      width: 50%;
    }

    .pickup-time-label{
      @include fontsize(16);
      margin: 10px 0;
    }

    .car-options{
      margin: 20px 0 0;
    }

    .radio-options{
      width: 60%;

      .option{
        input{
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px; margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;

          &:checked + span::before{
            background: $black;
          }

          // &:focus + span::after{
          //   content: '\0020\2190';
          //   font-size: 1.5em;
          //   line-height: 1;
          //   vertical-align: -0.125em;
          // }
        }

        span{
          &::before{
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: -0.25em;
            border-radius: 1em;
            border: 1px solid $black;
            margin-right: 0.75em;
            @include transition();
          }
        }
      }
    }
  }
}