.checkout-wrapper{

  .itemized-summary{
    @include fontsize(14);
    display: none;

    @include breakpoint($bp-680){
      display: block;
    }

    .item{
      margin: 0 0 20px;

      .item-name{
        text-transform: uppercase;
      }

      .additions{
        @include fontsize(13);
        margin: 0 0 0 20px;

        .modifier{
          display: block;
          margin: 0 0 4px 0;

          @include breakpoint($bp-768){
            margin: 0 4px 0 0;
            display: inline;
          }
        }
      }
    }
  }// .itemized-summary

  .pricing-details{
    margin: 40px 0 50px;
    @include fontsize(13);

    .total{
      @include fontsize(15);
      border-top: 1px solid;
    }

    .red-button a{
      @include fontsize(14);
    }
  }// .pricing-details

  .order-summary{
    form{
      border-top: 1px dotted;
      margin: 0 0 20px;
    }
  }
}// .checkout-wrapper