.checkout-overlay{
  position: fixed;
  top: 106px;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  opacity: 0;
  pointer-events: none;
  @include transition();

  &.visible{
    opacity: 1;
    pointer-events: auto;
  }

  .scrolled &{
    top: 76px;
  }

  .checkout-content-wrapper{
    background: $light-grey;
    height: 100%;
    position: absolute;
    width: 500px;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row;
    align-items: flex-start;

    .checkout-inner-wrapper{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .checkout-step{
      position: absolute;
      overflow-y: scroll;
      height: 100%;
      transition: all 300ms ease-in-out;
      padding: 0 20px;
      display: grid;

      &.step-1{
        transform: translateX(0%);

        &.inactive{
          transform: translateX(-100%);
        }
      }

      &.step-2{
        transform: translateX(100%);

        &.active{
          transform: translateX(-0%);
        }


      }

      &.step-3{
        transform: translateX(100%);
      }
    }

    .checkout-top{
      align-self: flex-start;
    }

    .checkout-bottom{
      align-self: flex-end;
    }
  }// .checkout-content-wrapper

  .checkout-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .checkout-title{
      text-transform: uppercase;
      @include fontsize(24);
      @extend %sofia-semi-bold;
    }

    .close{
      position: relative;
      width: 25px;
      height: 25px;
      cursor: pointer;

      span{
        display: block;
        position: absolute;
        top: 12px;
        right: 0;
        height: 2px;
        width: 24px;
        background: $black;
        border-radius: 10px;
        transform: rotate(0deg);

        &:nth-child(1){
          transform: rotate(-45deg);
        }

        &:nth-child(2){
          transform: rotate(45deg);
        }
      }// span
    }// .close

    .back{
      cursor: pointer;

      .back-button{
        position: relative;
        width: 18px;
        height: 25px;
        z-index: 1;
        display: inline-block;

        span{
          display: block;
          position: absolute;
          left: 0;
          height: 2px;
          width: 14px;
          background: $black;
          border-radius: 10px;

          &:nth-child(1){
            transform: rotate(-45deg);
            top: 8px;
          }

          &:nth-child(2){
            transform: rotate(45deg);
            top: 17px;
          }
        }
      }// .back-button

      .back-name{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 5px;
        @include fontsize(18);
      }
    }
  }// .checkout-header

  .checkout-items{
    .item{
      display: flex;
      border: 1px solid $e1;
      margin: 0 0 15px;

      .image{
        width: 25%;
        position: relative;

        .item-image{
          width: 100%;
          display: block;
        }

        .remove-image{
          position: absolute;
          top: 5px;
          left: 5px;
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }// .image

      .bag-detail-card{
        padding: 15px;
        width: 80%;
      }
    }// .item
  }// .checkout-items

  .checkout-bottom,
  .pickup-info{
    .flex-between{
      padding: 10px 0;
    }

    .label,
    .value{
      @include fontsize(15);
    }

    .total{
      border-top: 2px solid $e1;

      .label,
      .value{
        @include fontsize(20);
      }
    }

    h3{
      @include fontsize(19);
      @extend %sofia-semi-bold;
      letter-spacing: 2px;
      margin: 5px 0;
    }

    .indent{
      margin: 15px 18px
    }
  }// .pickup-info.checkout-bottom

  .pickup-options{
    background: $white;

    div{
      @extend %sofia-semi-bold;
      @include fontsize(15);
      padding: 10px 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child{
        border-bottom: 1px solid $light-grey;
      }

      span.option{
        display: inline-block;
        border-radius: 50%;
        border: 1px solid $c-31;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }// .pickup-options

  .cart-prices{
    .value{
      @include svg-bg(icons/left-arrow-red);
      background-position: right center;
      padding: 0 18px 0 0;
    }
  }

  .checkout-button{
    margin: 15px 0;

    button{
      width: 100%;
      padding: 15px;
      @include fontsize(16);
    }
  }// .checkout-button

  .login-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 20px 0 10px;
    align-items: center;

    div{
      @extend %sofia-semi-bold;
      @include fontsize(16);
      padding: 10px 0;
      letter-spacing: 1px;

      &:first-child{
        border-right: 2px solid $e1;
      }
    }
  }// .login-options
}// .checkout-overlay