.confirmation-page{
  .order-details{
    .details-title{
      border-bottom: 1px solid $e1;
      padding: 8px 0;
    }

    h4{
      @include fontsize(18);
      margin: 0 0 8px;
    }
  }

  .line-item{
    align-items: baseline;
    margin: 0 0 20px;

    p.additions{
      margin: 0;
    }
  }

  .line-items{
    margin: 15px 0;
  }

  .payment-information{
    margin: 30px 0 0;

    .card-sprite-wrapper{
      p{
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .order-total{
    padding: 10px 0;
    margin: 30px 0 15px;

    > div{
      margin: 0 0 10px;
    }

    .total{
      border-top: 1px solid $black;
      padding: 10px 0 0;
      @include fontsize(20);
    }
  }
}