footer{
  background: $off-black;

  .footer-menu{
    margin: 0;
    padding: 0;
    float: left;

    li{
      display: inline-block;
      margin-left: 45px;

      &:first-child{
        margin: 0;
      }

      a{
        @include fontsize(13);
        @extend %sofia-light;
        display: block;
        color: $white;
        text-decoration: none;

        &:hover,
        &:focus{
          text-decoration: underline;
        }
      }
    }
  }// .footer-menu
}// footer