.hamburger{
  width: 24px;
  height: 16px;
  position: absolute;
  transform: rotate(0deg);
  @include transition();
  cursor: pointer;
  top: 50%;
  z-index: 55;
  margin-top: -8px;

  @include breakpoint($bp-860){
    display: none;
  }

  span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $black;
    border-radius: 15px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2), span:nth-child(3) {
    top: 6px;
  }

  span:nth-child(4) {
    top: 12px;
  }

  &.mobileMenuOpen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  &.mobileMenuOpen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.mobileMenuOpen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.mobileMenuOpen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}// .hamburger