header{
  position: relative;

  img{
    display: block;
    width: 100%;
  }

  .header-content{
    .home &{
      padding: 200px 0;
      @include stagecenter(900);

      h1{
        margin-top: 0;
      }
    }

    h1{
      @include fontsize(70);
      @extend %sofia-medium;
    }

    h2{
      @include fontsize(72);
      @extend %sofia-medium;
      line-height: 1.2;
      margin: .5em 0;
    }

    h3{
      @include fontsize(32);
      @extend %sofia-light;
    }
  }

  .content{
    background-size: cover;
    background-position: center;
  }
}// header