header{
  position: relative;

  .page-item-detail &{
    margin: 0 0 30px;
  }

  img{
    display: block;
    width: 100%;
  }

  .header-content{
    padding: 180px 0 100px;
    @extend %overlay;

    @include breakpoint($bp-768){
      padding: 250px 0 200px;
    }

    h1{
      @extend %sofia-semi-bold;
      letter-spacing: 2.7px;
      margin-top: 0;
      text-transform: uppercase;
      text-shadow: 0 1px 10px rgba(0, 0, 0, 0.23);
      color: $white;
      position: relative;
      z-index: 4;
      padding: 0 10px;
    }

    .home &{
      .wysiwyg-content{
        max-width: 445px;
        background: rgba(255, 255, 255, .7);
        padding: 45px 30px;
        float: right;
        margin: 0 15px;
        position: relative;
      }

      h2{
        @include fontsize(46);
        @extend %sofia-medium;
        line-height: 1.2;
        margin: 0 0 .5em;

        @include breakpoint($bp-768){
          @include fontsize(60);
        }
      }

      h3{
        @include fontsize(20);
        @extend %sofia-light;

        @include breakpoint($bp-768){
          @include fontsize(24);
        }
      }
    }
  }

  .content{
    background-size: cover;
    background-position: center;
    position: relative;
  }
}// header

.page-landing-page{
  .menu-item-header{
    margin: 0 !important;
  }
}