.home{
  .app-ad{
    padding: 0;

    .content{
      background: url(assets/images/app-image.png) no-repeat 98% bottom;
      padding: 150px 15px;
    }

    p{
      @include fontsize(20);
    }

    .left{
      max-width: 60%;
    }

    h4{
      @include fontsize(26);
      text-transform: uppercase;
    }

    .app-downloads{
      margin: 20px 0 0;

      a:first-child{
        margin-right: 30px;
      }
    }
  }

  .location-details{
    padding: 0;

    .content{
      @extend %clearfix;
      display: flex;

      .left{
        width: 60%;

        img{
          display: block;
          width: 100%;
        }
      }

      .right{
        width: 40%;
        display: flex;
        background: $light-grey;

        .inner-content{
          align-self: center;
          padding: 20px;
        }
      }

      h3{
        text-align: left;
        text-transform: none;
      }
    }
  }// .app-ad,.location-details

  .location-details .content .right p{
    @include fontsize(18);
  }
}// .home