.home{
  .app-ad{
    padding: 100px 0;
    // background: url(/) TODO: add iphone image background

    .left{
      max-width: 50%;
    }

    h4{
      text-transform: uppercase;
    }
  }

  .location-details{
    .content{
      @extend %clearfix;

      .right{
        p{
          @include fontsize(24);
          @extend %sofia-light;
        }
      }

      h3{
        text-align: left;
        text-transform: none;
      }
    }
  }// .app-ad,.location-details

  .location-details .content .right p{
    @include fontsize(18);
  }
}// .home