.image-and-text{
  padding: 0;

  .content{
    @extend %clearfix;
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint($bp-768){
      flex-direction: row;
    }

    .left{
      @include breakpoint($bp-768){
        width: 60%;
        display: flex;
        align-items: center;
      }

      img{
        display: block;
        width: 100%;
      }
    }

    .right{
      background: $light-grey;
      text-align: center;

      @include breakpoint($bp-768){
        text-align: left;
        width: 40%;
        display: flex;
      }

      .inner-content{
        align-self: center;
        padding: 10px 40px;
      }
    }

    h3{
      text-align: left;
      text-transform: none;
    }

    // p{
    //   @include fontsize(16);
    // }
  }
}// .image-and-text