.intro-section{
  p{
    @include stagecenter(800);
    line-height: 30px;
  }

  a{
    @include svg-bg(svgs/right-arrow-red);
    background-position: right center;
    padding: 0 15px 0 0;
    text-transform: uppercase;
    color: $c-31;
    @extend %sofia-semi-bold;
    text-decoration: none;
    letter-spacing: 2px;
  }
}