.login-wrapper{
  padding: 200px 0;

  .account-actions{
    display: flex;
    justify-content: space-between;

    div.action{
      text-align: center;
      width: 50%;
      padding: 0 5px;

      &:first-child{
        border-right: 1px solid #aaa;
      }
    }

    a{
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      @include fontsize(14);
      @extend %sofia-medium;
    }

    &.single-link{
      display: block;
    }
  }

  .simple{
    .account-actions{
      display: block;
    }

    div.action{
      width: auto;

      &:first-child{
        border: none;
      }
    }
  }

  .checkout-options{
    display: flex;
    justify-content: space-between;
    text-align: center;

    .left{
      width: 46%;
    }

    .right{
      width: 46%;
      padding-left: 4%;
      border-left: 1px solid $light-grey;
    }

    .guest-link{
      margin: 30px 0 0;
    }
  }

  .account-success{
    margin: 50px 0 0;
  }

  .create-account-form{
    overflow: hidden;
  }
}// .login-wrapper