.sticky-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba($white, .8);
}
.menu-container{
  @include transition(padding);
  padding: 23px;

  .scrolled &{
    padding: 10px 23px;
  }

  @include breakpoint($bp-768){
    padding: 0 60px;

    .scrolled &{
      padding: 0 60px;
    }
  }

  ul.menu{
    padding: 0;
    list-style: none;
    width: 135px;
    margin: 0 auto;

    li{
      margin-left: 45px;
      vertical-align: middle;
      display: none;

      @include breakpoint($bp-768){
        display: inline-block;
      }

      &:first-child{
        margin: 0;
        display: block;

        @include breakpoint($bp-768){
          display: inline-block;
        }
      }

      a,
      span{
        @extend %sofia-regular;
        @include fontsize(16);
        color: $off-black;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 40px 0;
        border-bottom: 3px solid $white;
        @include transition(padding);
        cursor: pointer;

        .scrolled &{
          padding: 25px 0;
        }

        &:hover,
        &:focus,
        &.active{
          color: $orange-red;
          border-bottom: 3px solid $orange-red;
        }
      }

      .page-title{
        margin: 0;
        line-height: 1;

        a{
          display: block;
          @extend %sofia-light;
          margin: 0;
          @include svg-bg(logo/logo);
          background-repeat: no-repeat;
          background-size: 100%;
          width: 135px;
          height: 60px;
          border: none;
          padding: 0;
        }
      }
    }

    &.main-menu{
      @include breakpoint($bp-768){
        width: auto;
        float: left;
      }
    }

    &.cart-menu{
      @include breakpoint($bp-768){
        width: auto;
        float: right;
      }

      li{
        a,span{
          border: none;
        }
      }
    }
  }// ul.menu
}