.sticky-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.menu-container{
  padding: 20px 60px;

  ul.menu{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;
      margin-left: 45px;
      vertical-align: middle;

      &:first-child{
        margin: 0;
      }

      a{
        @extend %sofia-regular;
        @include fontsize(16);
        color: $off-black;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }

      .page-title{
        margin: 0;
        line-height: 1;

        a{
          display: block;
          @extend %sofia-light;
          margin: 0;
          @include svg-bg(logo/logo);
          background-repeat: no-repeat;
          background-size: 100%;
          width: 135px;
          height: 60px;
        }
      }
    }
  }
}