.page-item-detail{
  margin: 0 auto;
  background: $light-grey;

  .menu-item-header{
    position: relative;
    margin: 0 0 30px;

    h1{
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      color: $white;
      top: 45%;
      text-transform: uppercase;
      @include fontsize(60);
      text-shadow: 0 1px 10px rgba(0, 0, 0, 0.23);
      letter-spacing: 2.7px;
    }

    img{
      display: block;
      width: 100%;
    }

    .breadcrumb{
      position: absolute;

      ul{
        li{
          display: inline-block;
          list-style: none;
          @include fontsize(14);
          margin: 0 2px 0 0;

          &.active{
            @extend %sofia-semi-bold;
          }// li.active

          a{
            margin: 0 5px 0 0;
            display: inline-block;
          }
        }
      }
    }
  }// .menu-item-header

  .customization-container{
    @extend %clearfix;
    padding-bottom: 40px;

    .left{
      @include breakpoint($bp-768){
        float: left;
        width: 45%;
        margin-right: 2%;
      }
    }

    .right{
      margin: 0 0 30px;

      @include breakpoint($bp-768){
        float: right;
        width: 45%;
        margin: 0 2% 0 0;
      }
    }

    .customization-category{
      background: $white;
      box-shadow: 0 0 1px #aaa;
      margin: 0 0 20px;

      .header{
        padding: 30px 20px;
        display: flex;
        // grid-template-columns: 2fr 2fr .5fr;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $e1;

        span{
          padding: 0 2px;

          &.title{
            text-transform: uppercase;
            @extend %sofia-semi-bold;
            @include fontsize(18);
          }// span.title

          &.edit{
            text-transform: uppercase;
            color: $orange-red;
          }
        }// span
      }// .header

      .options{
        .option{
          padding: 20px;
          border-top: 1px solid $e1;
          display: grid;
          grid-template-columns: 2fr 1fr .5fr;
          justify-content: space-between;
          align-items: center;
          // display: flex;

          .choice-controls{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
              display: inline-block;

              &.plus,
              &.minus{
                @include fontsize(22);
                @include transition(opacity,200ms);
                cursor: auto;

                &.disabled{
                  opacity: .4;
                }

                &.enabled{
                  opacity: 1;
                  cursor: pointer;
                }
              }
            }
          }

          &:first-child{
            border-top: none;
          }

          .quantity-container{
            display: inline-block;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding: 5px;
            background: $white;
            border: 1px solid $e1;
            color: #666;
            text-align: center;
            @include fontsize(18);
            @include transition(all,200ms);

            &.populated{
              color: $black;
              border-color: $black;
            }

          }
        }// .option
      }// .options

      .more-options{
        text-align: center;
        border-top: 1px solid $e1;

        span{
          display: inline-block;
          width: 6px;
          height: 6px;
          background: $devils-grey;
          margin: 0 2px;
          border-radius: 50%;
        }
      }
    }// .customization-category
  }// .customization-container

  .final-product{
    padding: 20px;

    .title{
      @extend %sofia-semi-bold;
      @include fontsize(26);
      text-transform: uppercase;
    }

    .ingredients{
      @include fontsize(18);
      @extend %sofia-light;
      margin: 15px 0;
    }

    .fine-details{
      @include fontsize(18);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .allergens{
        span{
          background: $e1;
          border-radius: 50%;
          width: 35px;
          height: 30px;
          padding: 5px 0 0;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }// .final-product

  .special-instructions{
    margin: 20px 0 0;
    padding: 15px 20px;
    background: $e1;

    label{
      display: block;
      @extend %sofia-light;
      font-style: italic;
    }

    textarea{
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $devils-grey;
      background: $e1;
      margin: 5px 0 0;
    }
  }// .special-instructions

  .quantity-wrapper{
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text{
      @include fontsize(18);
    }
  }

  .add-button{
    margin: 20px 0 0;

    button{
      display: block;
      width: 100%;
    }
  }

  .plus,
  .minus{
    color: $orange-red;
    @include fontsize(30);
    cursor: pointer;
  }
}// .page-item-detail

.quantity-changer{
  @include fontsize(24);

  span{
    margin: 0 20px;
  }

  .edit-pane &{
    @include fontsize(16);

    span{
      margin: 0 4px;
    }

    .plus,
    .minus{
      @include fontsize(22);
      color: $orange-red;
      cursor: pointer;
    }
  }
}// .quantity-changer