.menu-menu{
  background: $fa;
  border-bottom: 2px solid $white;

  ul.menu{
    @include stagecenter();
    margin: 0 auto;
    padding: 0 15px;
    text-align: left;
    list-style: none;
    display: flex;

    li{
      text-align: left;
      display: block;
      margin: 0 0 0 5px;
      flex-basis: 0;
      flex-grow: 1;

      a{
        display: block;
        padding: 12px 8px;
        text-decoration: none;
        color: $c-31;
        text-transform: uppercase;
        @include transition(color, 200ms);

        &:hover{
          color: $red-hover;
        }
      }
    }
  }
}