.menu-categories{
  .menu-items{
    @extend %clearfix;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item{
      width: 50%;
      display: flex;

      @include breakpoint($bp-768){
        width: 33.3333%;
      }

      .item-wrapper{
        padding: 20px;
        border: 1px solid $e1;
        margin: 15px auto;
        max-width: 260px;
        width: 100%;

        .title{
          max-width: 200px;
          margin: 0 auto;
        }

        a{
          text-decoration: none;
          @include fontsize(22);
          @extend %sofia-medium;
          color: $c-31;
          text-transform: uppercase;
          display: block;
          @include transition(color, 200ms);

          &:hover{
            color: $red-hover;
          }
        }
      }// .item-wrapper
    }// .item
  }// .menu-items
}// .menu-categories