.background-section{
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  @extend %overlay;
  &:before{
    background: rgba($black, .4);
  }

  .content{
    position: relative;
  }

  .body{
    max-width: 80%;

    p{
      color: $white;
    }
  }

  @include breakpoint($bp-768){
    &:before{
      background: rgba($black, .1);
    }

    .body{
      max-width: 50%;

      p{
        color: $off-black;
      }
    }
  }
}