<div class="page-landing-page">
  <lo-cal-header [featuredImage]="featuredImage" [pageContent]="pageContent"></lo-cal-header>

  <div class="menu-menu">
    <ul class="menu">
      <li *ngFor="let item of subMenuLinks" [attr.class]="item.classes ? item.classes : null">
        <a routerLink="/{{ item.object_slug }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [innerHtml]="item?.title | safeHtml"></a>
      </li>
    </ul>
  </div>

  <!-- MENU PLACEHOLDER LAYOUT HTML -->
  <div class="section menu-categories center">
    <div class="content">
      <div class="menu-items category-featured">

        <div class="item item-{{ i+1 }}" *ngFor="let menuItem of subMenus; let i = index">
          <div class="item-wrapper text-center">
            <a routerLink="{{ menuItem?.slug }}" (click)="setMenuId(menuItem?.acf?.submenuid)">
              <div class="image"><img src="//via.placeholder.com/200x200"></div>
              <div class="title" [innerHtml]="menuItem?.title?.rendered | safeHtml"></div>
            </a>
          </div>
        </div>

      </div><!-- /.menu-cards -->
    </div>
  </div>
  <!-- MENU PLACEHOLDER LAYOUT HTML -->

</div>