<div class="page-landing-page">
  <lo-cal-header [featuredImage]="featuredImage" [pageContent]="pageContent">
    <div class="menu-menu">
      <ul class="menu">
        <li class="item-1">featured</li>
        <li class="item-2">salad</li>
        <li class="item-3">smoothie</li>
        <li class="item-4">breakfast</li>
        <li class="item-5">quinoa bowl</li>
        <li class="item-6">soup</li>
        <li class="item-7">burger and sandwich</li>
        <li class="item-8">breakfast</li>
        <li class="item-9">beverage</li>
      </ul>
    </div>
  </lo-cal-header>

</div>