
<div class="login-wrapper">
  <div class="login-container center-740">
    <h1 class="text-center">Reset Your Password</h1>
    <div *ngIf="passwordSuccess" class="text-center"><p>Password successfully changed. <a routerLink="/login">Click here</a> to return to the login form.</p></div>
    <form action="" class="lo-cal-form" [formGroup]="passwordResetForm" (submit)="resetPasswordWithAnswer(passwordResetForm)" *ngIf="!switchForms && !passwordSuccess">
      <div class="form-errors" *ngIf="errorData?.error"><p>Sorry. We did not find a valid account for that username and password.</p></div>
      <div class="form-errors" *ngIf="passwordResetError"><p>{{ passwordResetError }}</p></div>
      <div class="form-component form-component-text">
        <label for="password" class="visuallyhidden">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" formControlName="email" [ngClass]="{'has-error':!passwordResetForm.controls['email'].valid && submittedOnce}">
        <div class="error-message" *ngIf="!passwordResetForm.controls['email'].valid && submittedOnce">This field is required.</div>
      </div>
      <div class="password-reset-wrapper" *ngIf="foundSecurityQuestion">
        <div class="form-component form-component-text">
          <p>{{ securityQuestion }}</p>
          <label for="security-answer" class="visuallyhidden">Security Answer</label>
          <input type="text" name="security-answer" id="security-answer" placeholder="Security Answer" formControlName="security-answer" [ngClass]="{'has-error':!passwordResetForm.controls['security-answer'].valid && submittedOnce}">
          <div class="error-message" *ngIf="!passwordResetForm.controls['security-answer'].valid && submittedOnce">This field is required.</div>
        </div>
        <div class="form-component form-component-text">
          <label for="password" class="visuallyhidden">Password</label>
          <input type="password" name="password" id="password" formControlName="password" placeholder="Password* (8 or more characters)" [ngClass]="{'has-error':!passwordResetForm.controls['password'].valid && submittedOnce}">
          <div class="error-message" *ngIf="!passwordResetForm.controls['password'].valid && submittedOnce">This field is required.</div>
          <div class="error-message" *ngIf="passwordResetForm.controls['password'].value.length > 2 && passwordResetForm.controls['password'].errors?.minlength">Password must be at least 8 characters.</div>
        </div>
        <div class="form-component form-component-text">
          <label for="confirm-password" class="visuallyhidden">Confirm Password</label>
          <input type="password" name="confirm-password" id="confirm-password" formControlName="confirm-password" placeholder="Confirm Password*" [ngClass]="{'has-error':!passwordResetForm.controls['confirm-password'].valid && submittedOnce}">
          <div class="error-message" *ngIf="!passwordResetForm.controls['confirm-password'].valid && submittedOnce">This field is required.</div>
          <div class="error-message" *ngIf="passwordResetForm.controls['confirm-password'].errors?.MatchPassword">Password does not match.</div>
        </div>
      </div>
      <div class="submit red-button full-width-button" *ngIf="!foundSecurityQuestion">
        <button type="submit" class="red-button" [disabled]="!passwordResetForm.controls['email'].valid" (click)="retrieveSecurityQuestion(passwordResetForm.controls['email'].value)">Send</button>
      </div>
      <div class="loading-gif button-size" *ngIf="processing"></div>
      <div class="submit red-button full-width-button" *ngIf="foundSecurityQuestion && !processing">
        <input type="submit" value="Send" [disabled]="!passwordResetForm.valid">
      </div>
      <div class="account-actions single-link text-center">
        <a href="#" (click)="swapForms()">I don't know my security answer.</a>
      </div>
    </form>

    <form action="" class="lo-cal-form" [formGroup]="forcePasswordResetForm" (submit)="forcePasswordReset(forcePasswordResetForm)" *ngIf="switchForms">
      <p>Submitting this form will email you a new password.</p>
      <div class="form-component form-component-text">
        <label for="password" class="visuallyhidden">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" formControlName="email" [ngClass]="{'has-error':!forcePasswordResetForm.controls['email'].valid && submittedOnce}">
        <div class="error-message" *ngIf="!forcePasswordResetForm.controls['email'].valid && submittedOnce">This field is required.</div>
      </div>
      <div class="submit red-button full-width-button">
        <input type="submit" value="Send" [disabled]="!forcePasswordResetForm.valid">
      </div>
    </form>
  </div>
</div>