
<div class="login-wrapper">
  <div class="login-container center-740">
    <h1 class="text-center">Reset Your Password</h1>
    <form action="" class="lo-cal-form" [formGroup]="passwordResetForm" (submit)="resetPassword(passwordResetForm)">
      <div class="form-errors" *ngIf="errorData?.error"><p>Sorry. We did not find a valid account for that username and password.</p></div>
      <div class="form-component form-component-text">
        <label for="password" class="visuallyhidden">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" formControlName="email" [ngClass]="{'has-error':!passwordResetForm.controls['email'].valid && submittedOnce}">
        <div class="error-message" *ngIf="!passwordResetForm.controls['email'].valid && submittedOnce">This field is required.</div>
      </div>
      <div class="form-component form-component-text" *ngIf="foundSecurityQuestion">
        <p>{{ securityQuestion }}</p>
        <label for="security-answer" class="visuallyhidden">Security Answer</label>
        <input type="text" name="security-answer" id="security-answer" placeholder="Security Answer" formControlName="security-answer" [ngClass]="{'has-error':!passwordResetForm.controls['security-answer'].valid && submittedOnce}">
        <div class="error-message" *ngIf="!passwordResetForm.controls['security-answer'].valid && submittedOnce">This field is required.</div>
      </div>
      <div class="submit red-button full-width-button" *ngIf="!foundSecurityQuestion">
        <button type="submit" class="red-button" [disabled]="!passwordResetForm.controls['email'].valid" (click)="retrieveSecurityQuestion(passwordResetForm.controls['email'].value)">Send</button>
      </div>
      <div class="submit red-button full-width-button" *ngIf="foundSecurityQuestion">
        <input type="submit" value="Send" [disabled]="!passwordResetForm.valid">
      </div>
      <div class="account-actions">
        <a routerLink="/create-account">I don't know my security question answer.</a>
      </div>
    </form>

    <form action="" class="lo-cal-form" [formGroup]="forcePasswordResetForm" (submit)="resetPassword(passwordResetForm)">
      <div class="form-component form-component-text">
        <label for="password" class="visuallyhidden">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" formControlName="email" [ngClass]="{'has-error':!forcePasswordResetForm.controls['email'].valid && submittedOnce}">
        <div class="error-message" *ngIf="!forcePasswordResetForm.controls['email'].valid && submittedOnce">This field is required.</div>
      </div>
    </form>
  </div>
</div>