<div class="page-landing-page">
  <header class="header-container">
    <div class="content" [ngStyle]="{'background-image':'url(//via.placeholder.com/1440x760)'}">
      <div class="header-content text-center">
        <h1 [innerHtml]="pageContent?.title?.rendered"></h1>
        <h2 *ngIf="pageContent?.content?.rendered" [innerHtml]="pageContent?.content?.rendered"></h2>
        <ng-content></ng-content>
      </div>
    </div>
  </header>

  <div class="menu-menu">
    <ul class="menu">
      <li *ngFor="let item of subMenuLinks" [attr.class]="item.classes ? item.classes : null">
        <!-- TODO: Ensure all of these routerlinks work. currently aren't properly routing -->
        <a [routerLink]="['/menu', item.object_slug]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [innerHtml]="item?.title | safeHtml"></a>
      </li>
    </ul>
  </div>

  <!-- Menu Card Layout HTML -->
  <div class="section-white menu-categories center" id="featured">
    <h2 class="capitalize text-center" [innerHtml]="pageContent?.title?.rendered"></h2>
    <p class="sub-menu-description" *ngIf="subMenuItems?.menu[0]?.Description">
      {{ subMenuItems?.menu[0]?.Description }}
    </p>

    <div class="content clearfix sub-menu-cards-wrapper">

      <div class="menu-card" *ngFor="let item of subMenuItems?.menuItems">
        <div class="card-wrapper">
          <div class="image">
            <a [routerLink]="(item?.Name | safeUrl)"><img [src]="//via.placeholder.com/265x115" alt=""></a>
          </div>
          <div class="details">
            <h4 class="title"><a [routerLink]="(item?.Name | safeUrl)">{{ item?.Name }}</a></h4>
            <div class="description">
              <p>
                {{ (item?.Description | allergens).description }}
              </p>
            </div>
            <div class="fine-details">
              <span class="price">{{ item?.defaultPrice | currency }}</span>
              <span class="calories" *ngIf="item?.CaloricServingUnit">{{ item?.CaloricServingUnit }} cal</span>
              <span class="allergens" *ngIf="(item?.Description | allergens).allergens">
                <span class="allergen" *ngFor="let allergen of (item?.Description | allergens).allergens">{{ allergen }}</span>
              </span>
              <button class="add-to-cart" (click)="addToBag(item)">Add</button>
            </div>
          </div>
        </div>
      </div><!-- /.menu-card -->

    </div>
  </div>
  <!-- Menu Card Layout HTML -->
</div>