<div class="page-landing-page">
  <header class="header-container">
    <div class="content" [ngStyle]="{'background-image':'url(//via.placeholder.com/1440x760)'}">
      <div class="header-content text-center">
        <h1 [innerHtml]="pageContent?.title?.rendered"></h1>
        <h2 *ngIf="pageContent?.content?.rendered" [innerHtml]="pageContent?.content?.rendered"></h2>
        <ng-content></ng-content>
      </div>
    </div>
  </header>

  <div class="menu-menu">
    <ul class="menu">
      <li class="item-1"><a href="#">featured</a></li>
      <li class="item-2"><a href="#">salad</a></li>
      <li class="item-3"><a href="#">smoothie</a></li>
      <li class="item-4"><a href="#">breakfast</a></li>
      <li class="item-5"><a href="#">quinoa bowl</a></li>
      <li class="item-6"><a href="#">soup</a></li>
      <li class="item-7"><a href="#">burger and sandwich</a></li>
      <li class="item-8"><a href="#">breakfast</a></li>
      <li class="item-9"><a href="#">beverage</a></li>
    </ul>
  </div>

  <!-- Menu Card Layout HTML -->
  <div class="section-white menu-categories center" id="featured">
    <h2 class="capitalize text-center" [innerHtml]="pageContent?.title?.rendered"></h2>
    <p class="sub-menu-description" *ngIf="subMenuItems?.menu[0]?.Description">
      {{ subMenuItems?.menu[0]?.Description }}
    </p>

    <div class="content clearfix sub-menu-cards-wrapper">

      <div class="menu-card" *ngFor="let item of subMenuItems?.menuItems">
        <div class="card-wrapper">
          <div class="image">
            <a [routerLink]="(item?.DisplayName | safeUrl)"><img src="//via.placeholder.com/265x115" alt=""></a>
          </div>
          <div class="details">
            <h4 class="title"><a [routerLink]="(item?.DisplayName | safeUrl)">{{ item?.DisplayName }}</a></h4>
            <div class="description">
              <p>
                {{ (item?.Description | allergens).description }}
              </p>
            </div>
            <div class="fine-details">
              <span class="price">{{ item?.defaultPrice | currency }}</span>
              <span class="calories" *ngIf="item?.CaloricServingUnit">{{ item?.CaloricServingUnit }} cal</span>
              <span class="allergens" *ngIf="(item?.Description | allergens).allergens">
                <span class="allergen" *ngFor="let allergen of (item?.Description | allergens).allergens">{{ allergen }}</span>
              </span>
              <a href="#" class="add-to-cart" (click)="addToBag(item)" role="button">Add</a>
            </div>
          </div>
        </div>
      </div><!-- /.menu-card -->

    </div>
  </div>
  <!-- Menu Card Layout HTML -->
</div>